<section class='grid-row'>
    <div class='centered-column secondary-background thirtytwo-padding flex-col padding-lft'>
        <p>Click the heading of any section to hide it or show it again.</p>
    </div>
</section>
<section class='grid-row'>
    <div class='centered-column secondary-background thirtytwo-padding flex-col padding-lft'>
        {{#with results}} 
        {{#if meetup}}
        <h2 class="centered-content-no-padding padding-lft"><a id="meetup" onclick="hideMe(event)" tabindex="0">Meetups<img src="images/down-arrow.svg" class="down-arrow-img" alt="Down arrow to collapse section"></a></h2>
        <div id="meetup-results">
            <ul>
                {{#each meetup}}
                <li class='li-outer'><a href='{{this.url}}' target='_blank'>{{this.resource_name}}</a>
                <ul>
                    <li class='li-inner'>{{this.resource_description}}</li>
                </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

        {{#if article}}
        <h2 class="centered-content-no-padding padding-lft"><a id="article" onclick="hideMe(event)" tabindex="0">Articles<img src="images/down-arrow.svg" class="down-arrow-img" alt="Down arrow to collapse section"></a></h2>
        <div id="article-results">
            <ul>
                {{#each article}}
                <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                    {{this.resource_name}}</a>
                    <ul>
                    <li class='li-inner'>{{this.resource_description}}</li>
                </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

    {{#if [classroom course]}}
        <h2 class="centered-content-no-padding padding-lft"><a id="classroom" onclick="hideMe(event)" tabindex="0">Classroom courses<img src="images/down-arrow.svg" class="down-arrow-img" alt="Down arrow to collapse section"></a></h2>
        <div id="classroom-results">
            <ul>
                {{#each [classroom course]}}
                <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                    {{this.resource_name}}</a>
                    <ul>
                    <li class='li-inner'>{{this.resource_description}}</li>
                </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

    {{#if [online course]}}
        <h2 class="centered-content-no-padding padding-lft"><a id="online" onclick="hideMe(event)" tabindex="0">Online courses<img src="images/down-arrow.svg" class="down-arrow-img" alt="Down arrow to collapse section"></a></h2>
        <div id="online-results">
            <ul>
                {{#each [online course]}}
                <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                    {{this.resource_name}}</a>
                    <ul>
                    <li class='li-inner'>{{this.resource_description}}</li>
                </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}

    {{#if mentor}}
        <h2 class="centered-content-no-padding padding-lft"><a id="people" onclick="hideMe(event)" tabindex="0">Inspirational people<img src="images/down-arrow.svg" class="down-arrow-img" alt="Down arrow to collapse section"></a></h2>
        <div id="people-results">
            <ul>
                {{#each mentor}}
                <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                    {{this.resource_name}}</a>
                    <ul>
                    <li class='li-inner'>{{this.resource_description}}</li>
                </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}  

    {{#if others}}
        <h2 class="centered-content-no-padding padding-lft"><a id="other" onclick="hideMe(event)" tabindex="0">Other<img src="images/down-arrow.svg" class="down-arrow-img" alt="Down arrow to collapse section"></a></h2>
        <div id="other-results">
            <ul>
                {{#each others}}
                <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                    {{this.resource_name}}</a>
                    <ul>
                    <li class='li-inner'>{{this.resource_description}}</li>
                </ul>
                </li>
                {{/each}}
            </ul>
        </div>
        {{/if}}      

        {{/with}}

    </div>
</section>
<section class='grid-row'>
    <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1 bottom-padding-lft'>
        <form action='/background' class='centered-content'>
            <button class="govuk-button">Start again</button>
        </form>
    </div>
</section>

<script src="js/hideresultssections.js"></script>