<section class='grid-row'>
    <div class='centered-column secondary-background thirtytwo-padding flex-col padding-lft'>
        {{#with results}} 
        {{#if meetup}}
        <h3>Meetups</h3>
        <ul>
            {{#each meetup}}
              <li class='li-outer'><a href='{{this.url}}' target='_blank'>{{this.resource_name}}</a>
            <ul>
                <li class='li-inner'>{{this.resource_description}}</li>
            </ul>
            </li>
            {{/each}}
        </ul>
        {{/if}}

        {{#if article}}
        <h3>Articles</h3>
        <ul>
            {{#each article}}
            <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                {{this.resource_name}}</a>
                <ul>
                <li class='li-inner'>{{this.resource_description}}</li>
            </ul>
            </li>
            {{/each}}
        </ul>
        {{/if}}

{{#if [classroom course]}}
        <h3>Classroom courses</h3>
        <ul>
            {{#each [classroom course]}}
            <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                {{this.resource_name}}</a>
                <ul>
                <li class='li-inner'>{{this.resource_description}}</li>
            </ul>
            </li>
            {{/each}}
        </ul>
        {{/if}}

{{#if [online course]}}
        <h3>Online courses</h3>
        <ul>
            {{#each [online course]}}
            <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                {{this.resource_name}}</a>
                <ul>
                <li class='li-inner'>{{this.resource_description}}</li>
            </ul>
            </li>
            {{/each}}
        </ul>
        {{/if}}

{{#if mentor}}
        <h3>Inspirational people</h3>
        <ul>
            {{#each mentor}}
            <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                {{this.resource_name}}</a>
                <ul>
                <li class='li-inner'>{{this.resource_description}}</li>
            </ul>
            </li>
            {{/each}}
        </ul>
        {{/if}}  

{{#if others}}
        <h3>Other</h3>
        <ul>
            {{#each others}}
            <li class='li-outer'><a href='{{this.url}}' target='_blank'>
                {{this.resource_name}}</a>
                <ul>
                <li class='li-inner'>{{this.resource_description}}</li>
            </ul>
            </li>
            {{/each}}
        </ul>
        {{/if}}      

        {{/with}}

    </div>
</section>
<section class='grid-row'>
    <div id='bottom-section' class='centered-column centered-content secondary-background thirtytwo-padding fixed-height-double-h1'>
        <form action='/background' class='centered-content'>
            <button class="govuk-button">Start again</button>
        </form>
    </div>
</section>